.app-layout {
    display: flex;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
    margin-left: 100px; /* Ширина sidebar */
  }
  
  .content-area {
    padding: 20px;
  }


.setting-item {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting-label {
  font-family: 'Titillium Web', sans-serif;
 
  font-weight: 200; 
  font-size: 1.0rem;
  color: #1E293B; 
 
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 20px; 
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5D5FEF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5D5FEF;
}

input:checked + .slider:before {
  transform: translateX(26px);
}


.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 30%;
}

