.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem; 
  background-color: #F9FAFB;
}

.header h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200; 
  font-size: 1.5rem;
  color: #1E293B; 
  margin: 0; 
  letter-spacing: 0.5px; 
}

.company-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.company-name {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700; 
  font-size: 1.25rem;
  color: #475569; 
  letter-spacing: 0.25px;
  text-transform: uppercase; 
}

.header-icon {
  width: 35px;
  height: 35px;
}